<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills"></ul>

          <div class="well">
            <!-- Tab panes -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="ao-tab"
                  data-toggle="tab"
                  href="#ao"
                  role="tab"
                  aria-controls="ao"
                  aria-selected="true"
                  >Áo</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="quan-tab"
                  data-toggle="tab"
                  href="#quan"
                  role="tab"
                  aria-controls="quan"
                  aria-selected="false"
                  >Quần</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="giaydep-tab"
                  data-toggle="tab"
                  href="#giaydep"
                  role="tab"
                  aria-controls="giaydep"
                  aria-selected="false"
                  >Giày dép</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tuixach-tab"
                  data-toggle="tab"
                  href="#tuixach"
                  role="tab"
                  aria-controls="tuixach"
                  aria-selected="false"
                  >Túi xách</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="daychuyen-tab"
                  data-toggle="tab"
                  href="#daychuyen"
                  role="tab"daychuyen
                  aria-controls="daychuyen"
                  aria-selected="false"
                  >Dây chuyền</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="kieutoc-tab"
                  data-toggle="tab"
                  href="#kieutoc"
                  role="tab"
                  aria-controls="kieutoc"
                  aria-selected="false"
                  >Kiểu tóc</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="nen-tab"
                  data-toggle="tab"
                  href="#nen"
                  role="tab"
                  aria-controls="nen"
                  aria-selected="false"
                  >Nền</a
                >
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div
                class="tab-pane active"
                id="ao"
                role="tabpanel"
                aria-labelledby="ao-tab"
              >
                <!-- Grid for ao tab -->
                <div class="row" id="noidungAo"></div>
              </div>
              <div
                class="tab-pane"
                id="quan"
                role="tabpanel"
                aria-labelledby="quan-tab"
              >
                <!-- Grid for quan tab -->
                <div class="row" id="noidungQuan"></div>
              </div>
              <div
                class="tab-pane"
                id="giaydep"
                role="tabpanel"
                aria-labelledby="giaydep-tab"
              >
                <!-- Grid for giaydep tab -->
                <div class="row" id="noidungGiaydep"></div>
              </div>
              <div
                class="tab-pane"
                id="tuixach"
                role="tabpanel"
                aria-labelledby="tuixach-tab"
              >
                <!-- Grid for tuixach tab -->
                <div class="row" id="noidungTuixach"></div>
              </div>
              <div
                class="tab-pane"
                id="daychuyen"
                role="tabpanel"
                aria-labelledby="daychuyen-tab"
              >
                <!-- Grid for daychuyen tab -->
                <div class="row" id="noidungDaychuyen"></div>
              </div>
              <div
                class="tab-pane"
                id="kieutoc"
                role="tabpanel"
                aria-labelledby="kieutoc-tab"
              >
                <!-- Grid for nen tab -->
                <div class="row" id="noidungKieutoc"></div>
              </div>
              <div
                class="tab-pane"
                id="nen"
                role="tabpanel"
                aria-labelledby="nen-tab"
              >
                <!-- Grid for Profile tab -->
                <div class="row" id="noidungNen"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="hairstyle"></div>
            <div class="necklace"></div>
            <div class="bikinitop"></div>
            <div class="bikinibottom"></div>
            <div class="handbag"></div>
            <div class="feet"></div>
            <div class="background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
  </body>
</html>
